/* ./src/components/Frame.css */

.frame-child {
    position: relative;
    background-color: rgb(16, 21, 29);
    border-top: 1px solid rgb(46, 60, 81);
    border-bottom: 1px solid rgb(46, 60, 81);
    border-left: 1px solid rgb(46, 60, 81);
    box-sizing: border-box;
    
    width: fit-content;
    height: fit-content;
    padding: 48px;
  }
  .frame-item {
    position: absolute;
    background: radial-gradient(50% 50% at 40% -10%, #2e4261, rgba(19, 32, 51, 0));
    width: 800px;
    height: 300px;
    
  }
  .frame-wrapper {
    position: relative;
    background-color: #10141d;
    border: 1px solid rgb(46, 60, 81);
    box-sizing: border-box;
    width: 655px;
    height: 648px;
    overflow: hidden;
    align-items: center;
  }
  .frame-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
  }
  
  .heading h1{
    color: rgb(191, 199, 210);
    font-family: Google Sans Display,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.8px;
    line-height: 38px;
    margin-block-end: 20px;
    margin-block-start: 0px;
    margin-bottom: 20px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 230px;
    padding-top: 24px;
  }

  .content p{
    display: block;
    color: rgb(128, 140, 156);
    font-family: "Google Sans Text", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    line-height: 20px;
    margin-block-end: 20px;
    margin-block-start: 0px;
    margin-bottom: 20px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 230px;

  }

  .lol {
    color: #8964E8;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 999999px;
    width: fit-content;
    transition: background-color 0.3s;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: -24px;
    margin-right: -24px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.35px;
    line-height: 20px;
  
    &:hover {
      color: rgb(191, 199, 210);
      background-color: #1C2129;
      border: 1px solid transparent;
    }
  
    &::after {
      content: "~>";
      font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      letter-spacing: 0px;
      font-size: 14px;
      margin-left: 6px;
      font-weight: 500;
      transition: margin-left 0.3s;
    }
  
    &:hover::after {
      color: rgb(191, 199, 210);
      margin-left: 10px;
    }
  }
  

  .abcd{
    margin: 30px;
    text-align: center;
    
  }

  .heading{
    width: fit-content;
  }
  .content{
    width: fit-content;
  }