/* ./src/components/Frame.css */

.rev-frame-child {
    position: relative;
    background-color: #10141d;
    border-top: 2px solid #222e40;
    border-bottom: 2px solid #222e40;
    border-left: 2px solid #222e40;
    box-sizing: border-box;
    width: 40%;
    height: 400px;
    padding: 20px;
  }
  .rev-frame-item {
    position: absolute;
    background: radial-gradient(50% 50% at 40% -10%, #2e4261, rgba(19, 32, 51, 0));
    width: 800px;
    height: 300px;
    
  }
  .rev-frame-wrapper {
    position: relative;
    background-color: #10141d;
    border: 2px solid #222e40;
    box-sizing: border-box;
    width: 60%;
    height: 600px;
    overflow: hidden;
    align-items: center;
  }
  .rev-frame-parent {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
  }
  
  .rev-heading{
    color: white;
  }

  .rev-content{
    color: white;
  }

  .rev-lol{
    color: #8964E8;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 30px;
    height: 60px; 
    width: fit-content;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    padding: 20px;

    &:hover {
      background-color: #1C2129;
      border: 2px solid transparent;
    }
  }

  .rev-arrow{
    height: 15px;
    width: 15px;
    transform: rotate(270deg);
    margin-left: 10px;
    transition: margin 0.3s;
  }

  .rev-lol:hover .arrow {
    margin-left: 15px; /* Increase the margin on hover */
  }

  .rev-abcd{
    margin: 30px;
    text-align: center;
    
  }