/* components/NavigationBar.css */
.nav-container {
  /* align-items: center; */
  column-gap: 12px;
  display: flex;
  flex-direction: row;
  font-family: "Google Sans Text", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  height: 50.2867px;
  justify-content: flex-end;
  margin-top: 32px;
  margin-bottom: 64px;
  max-width: 1024px;
  /* width: 986.31px; */
}

.explore{
  background-color: rgb(16, 21, 29);
  border-radius: 9999px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(46, 60, 81);
  box-sizing: border-box;
  color: rgb(191, 199, 210);
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.35px;
  line-height: 20px;
  overflow: hidden;
  transition: 0.3s ease; 
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;

}
 
.explore:hover{
  background-color: #1E1F33;
  border-color: #A87FFB;

}

.join {
  background: rgb(168, 127, 251);
  border: 2px solid rgb(168, 127, 251);
  border-radius: 9999px;
  box-sizing: border-box;
  color: rgb(16, 21, 29);
  cursor: pointer;
  display: inline-flex;
  font-family: "Google Sans Display", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight: 700;
  height: 50.2867px;
  padding: 14px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: 0.3s ease;
  width: fit-content;
}

 
.join:hover{
  background-color: aliceblue;
  border-color: #A87FFB;
  
}

.join::after {
  content: "~>";
  font-family: "JetBrains Mono", ui-monospace, monospace;
  color: rgb(16, 21, 29);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-left: 6px;
  text-align: center;
  transition: transform 0.3s ease;
  width: fit-content;
}
