/* components/Section1.css */

.section1 {
    display: grid;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Add margin as needed */
  }
  
  .section1-heading {
    text-align: center;
    color: white;
  }
  
  .section1-empty-div {
    height: 100px; /* Adjust the height as needed */
    padding: 50px;
    text-align: center;
  }
  
  .section1-icon {
    text-align: center;
  }
  
